<!DOCTYPE html>
<html>
<head>
    <title>Transferência</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<div class="container">
    <h2>💸 Transferência</h2>

    <form method="POST">
        <input type="text" name="destino" placeholder="Usuário destino" required>
        <input type="number" name="valor" step="0.01" placeholder="Valor" required>
        <button>Transferir</button>
    </form>

    <a href="/dashboard"><button>Voltar</button></a>
</div>

</body>
</html>